<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.b2w">

    <uses-permission android:name="android.permission.INTERNET"/>

    <dist:module dist:instant="true"/>

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".activity.DetailCategoryActivity"
                android:parentActivityName=".activity.CategoryActivity"
                android:theme="@style/AppTheme3"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.CategoryActivity"
                android:parentActivityName=".activity.MainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme4"/>
        <activity
                android:name=".activity.AboutActivity"
                android:label="@string/title_activity_about"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme2"/>
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>